<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <view
            name="My Hudson Navigator"
            icon="icons/sample.gif"
            class="org.eclipse.ui.navigator.CommonNavigator"
            id="com.pli.test">
      </view>
      <category
            name="Sample Category"
            id="hudsonclientv2">
      </category>
       <view
            name="Hudson Repositories"
            icon="icons/sample.gif"
            category="hudsonclientv2"
            class="hudsonclientv2.configuration.repo.view.HudsonRepositoriesView"
            id="hudsonclientv2.configuration.repo.view.HudsonRepositoriesView">
      </view>
      <view
            name="Job Views"
            icon="icons/sample.gif"
            category="hudsonclientv2"
            class="hudsonclientv2.views.tree.JobViewsView"
            id="hudsonclientv2.views.tree.JobViewsView">
      </view>
       <view
            name="Job View"
            icon="icons/sample.gif"
            category="hudsonclientv2"
            class="hudsonclientv2.configuration.jobs.view.JobView"
            id="hudsonclientv2.configuration.jobs.view.JobView">
      </view>
       <view
            name="H/J Errors View"
            icon="icons/sample.gif"
            category="hudsonclientv2"
            class="hudsonclientv2.views.GridErrorView"
            id="hudsonclientv2.views.GridErrorView">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eclipse.ui.resourcePerspective">
         <view
               ratio="0.5"
               relative="org.eclipse.ui.navigator.ProjectExplorer"
               relationship="stack"
               id="com.pli.test">
         </view>
      </perspectiveExtension>
      <perspectiveExtension
            targetID="org.eclipse.jdt.ui.JavaPerspective">
          <view
               ratio="0.3"
               relative="org.eclipse.ui.views.ProblemView"
               relationship="stack"
               id="hudsonclientv2.configuration.repo.view.HudsonRepositoriesView">
         </view>
          <view
               ratio="0.3"
               relative="org.eclipse.ui.views.ProblemView"
               relationship="stack"
               id="hudsonclientv2.configuration.jobs.view.JobView">
         </view>
      </perspectiveExtension>
   </extension>
   <extension point="org.eclipse.ui.perspectives">
      <perspective
            name="Hudson/Jenkins Dashboard"
            icon="icons/releng_gears.gif"
            class="hudsonclientv2.perspectives.HudsonJenkinsPerspective"
            id="hudsonclientv2.perspectives.HudsonJenkinsPerspective">
      </perspective>
   </extension>

</plugin>
