<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <view
            name="My Hudson Navigator"
            icon="icons/sample.gif"
            class="org.eclipse.ui.navigator.CommonNavigator"
            id="com.pli.test">
      </view>
      <category
            name="Sample Category"
            id="hudsonclientv2">
      </category>
      <!--<view
            name="$"
            icon="icons/sample.gif"
            category="hudsonclientv2"
            class="hudsonclientv2.views.SampleView"
            id="hudsonclientv2.views.SampleView">
      </view>-->
       <view
            name="Hudson Repositories"
            icon="icons/sample.gif"
            category="hudsonclientv2"
            class="hudsonclientv2.configuration.repo.view.HudsonRepositoriesView"
            id="hudsonclientv2.configuration.repo.view.HudsonRepositoriesView">
      </view>
      <view
            name="Job Views"
            icon="icons/sample.gif"
            category="hudsonclientv2"
            class="hudsonclientv2.views.JobViewsView"
            id="hudsonclientv2.views.JobViewsView">
      </view>
       <view
            name="Job View"
            icon="icons/sample.gif"
            category="hudsonclientv2"
            class="hudsonclientv2.configuration.jobs.view.JobView"
            id="hudsonclientv2.configuration.jobs.view.JobView">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eclipse.ui.resourcePerspective">
         <view
               ratio="0.5"
               relative="org.eclipse.ui.navigator.ProjectExplorer"
               relationship="stack"
               id="com.pli.test">
         </view>
      </perspectiveExtension>
      <perspectiveExtension
            targetID="org.eclipse.jdt.ui.JavaPerspective">
          <view
               ratio="0.3"
               relative="org.eclipse.ui.views.ProblemView"
               relationship="stack"
               id="hudsonclientv2.configuration.repo.view.HudsonRepositoriesView">
         </view>
          <view
               ratio="0.3"
               relative="org.eclipse.ui.views.ProblemView"
               relationship="stack"
               id="hudsonclientv2.configuration.jobs.view.JobView">
         </view>
         <view ratio="0.3"
               relative="org.eclipse.ui.views.ProblemView"
               relationship="stack"
               id="hudsonclientv2.views.JobViewsView">
         </view>
      </perspectiveExtension>
   </extension>
   <!--<extension
         point="org.eclipse.ui.decorators">
      <decorator
            lightweight="true"
            location="BOTTOM_RIGHT"
            adaptable="true"
            label="Resource Decorator"
            icon="icons/sample_decorator.gif"
            state="true"
            id="hudsonclientv2.decorator">
         <enablement>
            <and>
               <objectClass
                     name="org.eclipse.core.resources.IResource">
               </objectClass>
               <or>
                  <objectClass
                        name="org.eclipse.core.resources.IProject">
                  </objectClass>
                  <objectClass
                        name="org.eclipse.core.resources.IFile">
                  </objectClass>
               </or>
            </and>
         </enablement>
      </decorator>
   </extension> TODO voir si decorateur sur projects directemnent possible?-->

</plugin>
